.button {
  height: 3rem;
  width: 3rem;
  border: none;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 4px;
  font: bold normal normal 20px Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: white;
}

.button:active {
  transform: translateY(2px);
}
